body {
    min-width: 8.5333rem;
    max-width: 20rem;
    margin: 0 auto;
    height: 32rem;
}

// 当屏幕大于20rem时，html 字体大小就一直是20rem
@media screen and (min-width: 20rem) {
    html {
        font-size: 1rem !important;
    }
}
